<ion-header>
    <ion-toolbar color="danger" class="center">
      <ion-row class="vertical-align">
        <ion-col size="2"><ion-back-button></ion-back-button></ion-col>
        <ion-col size="10"><ion-title>{{serieDetails.Title}}</ion-title></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
    <ion-grid no-padding>
      <ion-row class="center" padding>
        <ion-col no-padding class="centered_ele" size="auto">
          <img id="Poster" *ngIf="serieDetails.Poster != 'N/A' && !isPosterHD" src="{{serieDetails.Poster}}">
          <img *ngIf="serieDetails.Poster == 'N/A'" src="../../assets/images/movie-img.png">
          <img *ngIf="isPosterHD" [src]="seriePosterHDUrl">
          <div class="favorite_star_container">
            <div class="favorite_star_container_relative">
              <ion-icon name="star-outline" (click)="favoriteSerie()" *ngIf="!isFavorite" class="favorite_star"></ion-icon>
              <ion-icon name="star" (click)="unfavoriteSerie()" *ngIf="isFavorite" class="favorite_star"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="police_small row_Lpadding">
        <ion-col size="2">
          {{serieDetails.Year}}
        </ion-col>
        <ion-col size="7" class="center">
          {{serieDetails.Genre}}
        </ion-col>
        <ion-col size="3">
          <img class="mpaa_img" *ngIf="serieDetails.Rated == 'G'" src="../../assets/images/G.png">
          <img class="mpaa_img" *ngIf="serieDetails.Rated == 'PG'" src="../../assets/images/PG.png">
          <img class="mpaa_img" *ngIf="serieDetails.Rated == 'PG-13'" src="../../assets/images/PG-13.png">
          <img class="mpaa_img" *ngIf="serieDetails.Rated == 'R'" src="../../assets/images/R.png">
          <img class="mpaa_img" *ngIf="serieDetails.Rated == 'NC-17'" src="../../assets/images/NC-17.png">
          <img class="mpaa_img" *ngIf="serieDetails.Rated != 'G' && serieDetails.Rated != 'PG' && serieDetails.Rated != 'PG-13' && serieDetails.Rated != 'R' && serieDetails.Rated != 'NC-17'" src="../../assets/images/NR.png">
        </ion-col>
      </ion-row>
      <ion-row class="row_padding">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="white_text">
                Synopsis
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{serieDetails.Plot}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12" class="center">
            Nombre de saisons : {{serieDetails.totalSeasons}}
          </ion-col>
        </ion-row>
        <div *ngFor="let saison of seasonsList" >
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-header (click)="OpenCloseSeasonDetail(saison+1)" >
                  <ion-card-title class="white_text">Saison {{saison+1}}</ion-card-title>
                </ion-card-header>
                <ion-card-content id="idSaison_{{saison+1}}"no-padding class="dynamic_card" >
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      <ion-row class="police_small row_Lpadding">
        <ion-col size="7">
          Réalisateur : {{serieDetails.Director}}
        </ion-col>
      </ion-row>
      <ion-row padding class="row_padding">
        <ion-col size="6" class="center">
            <ion-title padding>Acteurs Principaux</ion-title>
            <ion-icon ion-button class="left_arrow" name="arrow-dropleft" (click)="prevSlide()"></ion-icon>
            <ion-icon ion-button class="right_arrow" name="arrow-dropright" (click)="nextSlide()"></ion-icon>
            <ion-slides pager="false" #slides>
              <ion-slide *ngFor="let actor of serieActors">
                {{actor}}
              </ion-slide>
            </ion-slides>
        </ion-col>
        <ion-col size="6" class="center">
          <ion-title padding>Note IMDB</ion-title>
          <ion-text>{{serieDetails.imdbRating}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row_padding">
        <ion-col size="12">
            <ion-card>
                <ion-card-header>
                  <ion-card-title class="white_text">
                    Prix et Nominations
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="serieDetails.Awards != 'N/A'">
                    {{serieDetails.Awards}}
                </ion-card-content>
                <ion-card-content *ngIf="serieDetails.Awards == 'N/A'">
                  Aucune nomination ou award.
              </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  